body {
	margin: 0;
	padding: 0;

	font-family: Roboto, "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	background-color: #849d8f;
	background-image: url('../img/main-bg.png');
	background-position: center;
	background-repeat: no-repeat;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.main-navigation {
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
}
.site-navigation,
.site-navigation-list,
.site-navigation-link,
.user-navigation,
.shop-list,
.social-list,
.catalog-press,
.catalog-list,
.catalog-ice,
.ice-cream-list {
	list-style: none;
}
.site-navigation a,
.user-navigation a,
.site-navigation-link a,
.social-list a,
.work-info a,
.operation-info a,
.catalog-press a,
.catalog-list a,
.catalog-ice a,
.ice-cream-list a {
	color: #ffffff;
}
.catalog-press {
	background-color: d07058;
}
.catalog-list {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;
}
.catalog-ice {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
}
.catalog-label {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}
.ice-cream-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: underline;
}
.ice-cream-list a:hover {
	color: #ffbc9e;
}
.ice-cream-item {
	width: 267px;
}
.catalog-price-item {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}
.new-ice p {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #323232;
}
.site-navigation-link a {
	text-decoration: underline;
}
.time {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
}
.phone {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
}
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url('../img/ice-1.png');
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url('../img/ice-2.png');
}
.site-wrapper::after {
  background-image: url('../img/ice-3.png');
}
.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
.slide {
  display: none;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/ice-1.png');
}
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url('../img/ice-2.png');
}
#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/ice-3.png');
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.blog {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
	background-color: #849d8f;
	background-image: url('../img/strawberry.png');
	background-repeat: no-repeat;
}
.blog a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	text-decoration: underline;
}
.blog a:hover {
	color: #ffbc9e;
}
.subscription {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #5a5a5a;
	background-color: #849d8f;
	background-image: url('../img/post-background.png');
	background-repeat: no-repeat;
}
.work-info {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;
}
.operation-info {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: underline;
}
.footer-logo {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}
.footer-logo a {
	color: #ffffff;
	text-decoration: underline;
}
.footer-logo a:hover,
.work-info a:hover {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #ffbc9e
}
.operation-info a:hover {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #ffbc9e
}
.footer-logo a:focus,
.work-info a:focus {
	font-size: 4,56px;
	line-height: 5,13px;
	color: #ffbc9e;
}
.operation-info a:focus {
	font-size: 4,56px;
	line-height: 5,13px;
	color: #ffbc9e;
}
.address-template {
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #323232;
}
.address-item {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #323232;
}
.login-password-info, 
.new-registration {
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #323232;
}
.login-password-info a:hover, 
.new-registration a:hover {
	color: #e84d37;
}	
.main-header {
	padding-top:10px
	padding: 0px;
    min-height: 35px;
    margin-left: 107px;
}
.main-header img {
  float: left;
  width: 153px;
  height: 63px;
}
.main-navigation {
	display: flex;
	width: 985px;
	margin: 0;
	padding: 0;	
	justify-content: space-between;
    list-style: none;
}
.main-navigation ul {
  margin: 0;
  margin-left: 30px;
  padding: 0;
}
.main-navigation li {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-left: -4px;
  padding-top: 8px;
  padding-bottom: 18px;
  min-height: 18px;
  vertical-align: top;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #333333;
	background-color: #f7f6f3;
}
.main-navigation-li:hover > a,
.main-navigation a:active {
  margin: 0;
  margin-right: 4px;
  margin-left: 1px;
  padding: 7px 12px 6px 14px;
  font-weight: 700;
  color: black;
  border-radius: 14px;
}
.main-navigation-li:hover > a {
  background: #f7f6f3;
}
.main-navigation a:active {
  background: #ededed;
  box-shadow: inset 0px 2px 1px #696969;
}
.site-navigation-list {
  position: absolute;
  top: 45px;
  left: -38px;
  display: none;
  width: 145px;
  padding: 0;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.6);
}
li:hover .site-navigation-list {
  display: block;
  z-index: 100;
}
.site-navigation-list li {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 3px;
  padding: 0;
}
.site-navigation-list li:first-child {
  display: block;
  width: 113px;
  margin-right: 8px;
  margin-top: 0px;
  margin-left: 6px;
  padding-top: 11px;
  padding-bottom: 4px;
  padding-left: 16px;
  border-bottom: 1px solid #d1d0ce;
  min-height: 17px;
}
.site-navigation-list a {
  display: block;
  width: 123px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  border: 0;
}
.site-navigation-list a:active {
  width: 123px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 20px;
  background-color: #d07058;
  border-radius: 0;
  box-shadow: none;
}
.site-navigation-list a:hover,
.site-navigation-list a:active {
  font-weight: 400;
}
.site-navigation-list a:hover {
  width: 123px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 20px;
  color: #323232;
  background-color: #fbded7;
  border-radius: 0;
}
.site-navigation-list a:active {
  width: 111px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 20px;
  color: #323232;
  background-color: #f6b5a5;
  border-radius: 0;
  box-shadow: none;
}
.site-navigation {
	margin-left: 0;
	padding-left: 0;
	display: flex;
	width: 380px;
	justify-content: space-between;
}
.user-navigation {
	display: flex;
	width: 154px;
	margin-left: 175px;
	padding-left: 0;
	justify-content: space-between;
}
.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}
.time-phone-box {
	margin-left: 950px;
	text-align: right;
}
.promo {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;	
}
.promo-item {
	width: 560px;
	padding-left: 10px;
}

.news-location {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
.news-location-item {
	width: 560px;
}
.about-shop-list {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
.about-shop-list-item {
	width: 542px;
}
.main-footer {
	display: flex;
	width: 1146px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0 10px;
	background-color: #849d8f;
	justify-content: space-between;
}
.footer-social {
}
.social-list {
	display: flex;
	margin-left: 0;
	padding-left: 0;
	justify-content: flex-start;
	width: 267px;
}
.footer-documetation-location {
	display: flex;
	width: 560px;
	justify-content: space-between;
}
.work-info {
	width: 267px;
	padding-left: 150px;
}
.operation-info {
	width: 293px;
	padding-left: 0px;
}
.footer-logo {
	width: 267px;
	text-align: right;
}
.catalog-list {
	display: flex;
	justify-content: flex-start;
}
.catalog-list-item {
	margin: 5px;
}
.sort-cost-location {
	display: flex;
	width: 1146px;
	margin: 0 auto;
	padding: 0 10px;
	justify-content: flex-start;
}
.sort-popular {
	width: 193px;
}
.cost-location {
	width: 221px;
}
.fat-location {
	width: 411px;
}
.fat-list {
	display: flex;
	list-style: none;
}
.catalog-fillers {
	display: flex;
	list-style: none;
}
.promo::after {
  content: "";
  display: table;
  clear: both;
}
.promo-item {
  width: 520px;
  margin-top: 41px;
  margin-bottom: 40px;
  padding: 15px 21px 23px 19px;
  min-height: 191px;
}
.promo-item:first-child {
  float: left;
  background-color: #73172b;
  background-image: url('../img/raspberry.jpg');
  border-radius: 11px;
}
.promo-item:last-child {
  float: right;
  background-color: #3a2217;
  background-image: url('../img/chocolate.jpg');
  border-radius: 11px;
}
.promo-item h2 {
  margin-bottom: -2px;
}
.promo-item p {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.promo-item .button {
  display: block;
  float: right;
  padding: 10px 25px 11px 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  min-height: 24px;
}
.shop {
  margin-top: 170px;
  margin-bottom: 40px;
  padding: 25px 15px 22px 20px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-color: #eadcbe;
  background-image: url('../img/waffle.png');

  min-height: 246px;
  border-radius: 15px;
}
.shop p {  
  margin: 0;
  width: 488px;
  padding-left: 57px;
}
.shop > p {
  width: auto;
  margin-bottom: 10px;
  padding-left: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.shop-left {
  float: left;
  margin-right: 20px;
}
.shop-right {
  float: right;
}
.news-location: {
	display: flex;
	justify-content: space-between;
}
.blog {
  margin-bottom: 40px;
  width: 540px;
  float: left;
  padding: 22px 0px 0px 20px;
  color: black;
  font-size: 16px;
  line-height: 22px;
  background-color: white;
  background-image: url('../img/strawberry.png');
  min-height: 198px;
  border-radius: 11px;
}
.blog p {
  margin: 0;
  margin-bottom: 5px;
}
.blog a {
  display: inline-block;
  width: 290px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: black;
  border: 0;
  text-decoration: underline;
  vertical-align: top;
}

.subscription {
  float: right;
  width: 560px;
  background-image: url('../img/post-image.png');
  border-radius: 11px;
  min-height: 220px;
  background-color: #849d8f;
  height: auto;
}
.subscription .wrap {
  width: 511px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 29px 18px 29px 21px;
  background-color: #f8f7f4;
  min-height: 151px;
  vertical-align: middle;
  border-radius: 10px;
}
.subscription p {
  margin: 0;
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 22px;
}
.subscription input[type="email"] {
  width: 349px;
  margin-right: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border: 1px solid rgba(70, 70, 70, 0.48);
  border-radius: 4px;
  min-height: 13px;
}
.subscription input[type="submit"] {
  position: relative;
  left: 6px;
  top: -1px;
  width: 130px;
  height: 45px;
  font-size: 18px;
  line-height: 22px;
  color: white;
}
.wrap .button {
  display: block;
  float: right;
  padding: 8px 10px 8px 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  min-height: 24px;
  color: #849d8f;
}
.feedback {
  position: relative;
  width: auto;
  margin: 0px auto;
  background-color: #e9e1c2; 
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
}
.feedback p {
  margin: 0;
}
.map-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 277px;
  margin-top: 63px;
  margin-right: 27px;
  padding-top: 30px;
  padding-left: 25px;
  background-color: white;
  border-radius: 10px;
  min-height: 270px;
}
.feedback .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 250px;
  margin-left: 1px;
  padding-top: 9px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  min-height: 36px;
  text-align: center;
  vertical-align: top;
}
.map-info p {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 20px;
  color: black;
}
.hits-box {
  margin-bottom: 40px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  background-color: #849d8f;
  min-height: 246px;
}
.box-item,
.item-hover-content {
  position: relative;
  display: inline-block;
  float: left;
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
  text-align: center;
  vertical-align: top;
  min-height: 322px;
}
.item-hover-content {
  margin-bottom: -22px;
}
.item-hover {
  position: absolute;
  top: -5px;
  left: -5px;
  width: 277px;
  padding: 0;
  background-color: inherit;
  border-radius: 4px;
  z-index: 45;
}
.box-item:hover .item-hover {
  background-color: rgba(97, 97, 96, 0.3); 
  z-index: 50;
  min-height: 353px;
}
.box-item:hover .btn-item-hover {
  display: inline-block;
  vertical-align: top;
  z-index: 55;
}
.btn-item-hover {
  position: absolute;
  left: 38px;
  bottom: 21px;
  display: none;
  width: 170px;
  padding: 11px 15px 1px 15px;
  font-size: 18px;
  line-height: 24px;
  min-height: 34px;
}
.item-hover-content {
  top: 5px;
  left: 5px;
}
.index-items .box-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 61px;
  height: 61px;
  background-color: inherit;
  background-image: url('../img/hit.png');
  z-index: 50;
}
.box-item:last-child {
  margin-right: 0;
}
.box-item img {
  width: 267px;
  height: 267px;
  margin-left: -2px;
  border-radius: 50%;
}
.item-price {
  position: relative;
  top: -94px;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
}
.item-price span {
  font-size: 45px;
}
.item-price img {
  width: 31px;
  height: 33px;
  margin-left: -8px;
  border-radius: 0;
}
.item-hover-content a {
  position: relative;
  top: -102px;
  line-height: 22px;
  z-index: 20;
  color: #ffffff;
}
.item-wrap-a {
  width: 258px;
  margin: 0 auto;
}